$blue:#336699; /*#00a3e8*/
$white:#ffffff;

.container.main{

  .alert-danger{
    margin: 20px 0 40px;
    border: 1px solid red;
    padding: 12px;
    line-height: 20px;
    font-size: 16px;
    color: red;
    background: #fff;
    .close{
      border: 0;
      background: transparent;
      font-size: 18px;
      margin-right: 10px;
      line-height: 20px;
      color: red;
    }
  }
}
