$blue:#336699; /*#00a3e8*/
$white:#ffffff;

.container.main{

  .alert-danger{
    margin: 20px 0 40px;
    border: 1px solid red;
    padding: 12px;
    line-height: 20px;
    font-size: 16px;
    color: red;
    background: #fff;
    .close{
      border: 0;
      background: transparent;
      font-size: 18px;
      margin-right: 10px;
      line-height: 20px;
      color: red;
    }
  }

  .inner_wrap{
    padding-top: 70px;
    .header_h1{
      color: #282828;
      font-size: 25px;
      font-weight: 700;
      line-height: 19px;
      text-transform: uppercase;
    }
    .dashboard{
      margin: 26px 0;
      display: flex;
      flex-direction: column;
      &_section{
        background-color: $white;
        padding: 20px;
        margin-bottom: 30px;
        max-width: 300px;
        &-header{
          color: #333333;
          font-size: 14px;
          font-weight: 700;
          line-height: 1;
          margin-bottom: 20px;
        }
        &-body{}
        &-link{
          display: block;
          color: $blue;
          font-size: 14px;
          font-weight: 300;
          line-height: 35px;
          text-decoration: underline
        }
      }

    }
  }
}
